{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-sass-guidelines",
    "stylelint-config-standard-scss"
  ],
  

  "plugins": [
    "stylelint-order"
  ],

  "rules": {
    "max-nesting-depth": 3,
    "selector-class-pattern": "^.[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
    "no-duplicate-selectors": true,
    "order/order": [
      "custom-properties", 
      "declarations"
    ],
    "@stylistic/indentation": 2,
    "block-no-empty": true,
    "color-hex-length": "short",
    "scss/no-global-function-names": null
  }
}
