// HEADER / FOOTER

.header,
.footer {
  padding: 2rem;
  text-align: center;
  color: $color-white;
  background: linear-gradient(to right, #040, #060);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 1rem;

  &__title {
    margin: 0;
    font-size: 3rem;
    
    @media (width <= 480px) {
      font-size: $font-size-medium;
      margin-bottom: $gap;
    }
  }
}

.footer__text { color: $color-white; }
