@use 'sass:color';

$color-background: #fff;
$color-text: #333;
$color-primary: #2e8b57;
$color-white: #fff;
$font-family: arial, sans-serif;
$font-size-base: 1rem;
$font-size-large: 2rem;
$font-size-extramedium: 1.5rem;
$font-size-medium: 1.2rem;
$font-size-small: 0.8rem;
$max-width: 1200px;
$gap: 1.5rem;
$line-height-base: 1.5rem;
